* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 800px;
}

a {
  border-bottom: 2px solid;
  color: var(--secondary);
  text-decoration: none;
}

button {
  font-size: 1em;
}
