*{
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    max-width: 414px ;
}

.main{
  background-color: rgb(189, 196, 198);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  height: 80vh;
  overflow-y: scroll;
}