.mb-20 {
  margin-bottom: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.ml-auto {
  margin-left: auto !important;
}

.w-100 {
  width: 100% !important;
}

.hidden {
  display: none !important;
}
