*{
  box-sizing: border-box;
}

.nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start; 
  position: fixed;
  top:100;
}

.nav__button {
  font-size: 48px;
  padding: 20px;
  background: black;
  border-radius: 4px;
  &:hover {
    background: cornflowerblue;
  }
}