.header {
    background-color: grey;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-family: fantasy;
  }

// .header {
//     background-color: grey;
//     height: 80px;
//     max-width: 375px;
//     display: grid;
//     // grid-auto-flow: column;
//     // justify-content: center; 
//     // position: fixed;
//     top:0;
//     left: 0;
//     right: 0;
//     margin: auto;
//     border-radius: 5px;
//     align-items: center;
//     text-align: center;
// }


