


  .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  
  .nav__button {
    font-size: 48px;
    margin-bottom: 10px;
    padding: 10px;
    background: grey;
    border-radius: 4px;
    &:active {
      background: cornflowerblue;
    }
  }